.works-well-with {
  @extend .adopters;
}

.page {
  margin-top: 6rem;
  @include media-breakpoint-down(sm) {
    margin-top: 2rem;
  }

  a {
    @include media-breakpoint-down(sm) {
      word-break: break-word;
    }
  }

  // Remove max-width restriction for pages without sidebar
  @include media-breakpoint-up(lg) {
    &.td-content > .tab-content .tab-pane,
    &.td-content .footnotes,
    &.td-content > .alert,
    &.td-content > .highlight,
    &.td-content > .lead,
    &.td-content > .td-table,
    &.td-content > table,
    &.td-content > blockquote,
    &.td-content > dl dd,
    &.td-content > h1,
    &.td-content > .h1,
    &.td-content > h2,
    &.td-content > .h2,
    &.td-content > ol,
    &.td-content > p,
    &.td-content > pre,
    &.td-content > ul {
      max-width: none;
    }
  }
}

.td-404 .td-main {
  margin-bottom: 450px;

  @include media-breakpoint-down(md) {
    margin-top: 50px;
  }
}

.page404 {
  .DocSearch-Button {
    width: 100%;
    margin-left: 0;
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }

  h3 {
    margin-top: 1rem;
    margin-bottom: 2px;
    font-size: 1.1rem;
    font-weight: 600;
  }

  .links404 {
    a {
      display: block;
      font-weight: 600;
      margin: 4px 0;
    }
  }

  .search404 {
    margin-top: 1.5rem;
    input.search-404-input {
      margin-top: 4px;
    }
  }
}
