{{- if .Site.Params.versions -}}
{{- $currentPath := .Page.RelPermalink -}}
{{- $currentVersionID := "" -}}
{{- $currentVersionUrl := "" -}}
{{- $currentVersionLabel := "" -}}
{{- range .Site.Params.versions -}}
  {{- if hasPrefix $currentPath .url -}}
    {{- $currentVersionID = .id -}}
    {{- $currentVersionUrl = .url -}}
    {{- $currentVersionLabel = .version -}}
  {{- end -}}
{{- end -}}

<div class="version-switcher dropdown">
  <button class="version-switcher__toggle dropdown-toggle" type="button"
          data-bs-toggle="dropdown" aria-expanded="false">
    {{- if $currentVersionLabel -}}
      {{ $currentVersionLabel }}
    {{- else -}}
      {{ .Site.Params.version_menu | default "Versions" }}
    {{- end -}}
  </button>
  <ul class="version-switcher__menu dropdown-menu">
    {{- range .Site.Params.versions }}
    {{- $targetPath := .url -}}
    {{- if $currentVersionUrl -}}
      {{- $subPath := strings.TrimPrefix $currentVersionUrl $currentPath -}}
      {{- $candidatePath := printf "%s%s" .url $subPath -}}
      {{- $trimmed := strings.TrimRight "/" $candidatePath -}}
      {{- with site.GetPage $trimmed -}}
        {{- $targetPath = .RelPermalink -}}
      {{- end -}}
    {{- end -}}
    <li>
      <a href="{{ $targetPath }}" class="dropdown-item{{ if eq .id $currentVersionID }} active{{ end }}">
        {{- .version -}}
      </a>
    </li>
    {{- end }}
  </ul>
</div>
{{- end -}}
