{{- $currentPath := .Page.RelPermalink -}}
{{- $currentVersionID := "" -}}
{{- $currentVersion := dict -}}
{{- range .Site.Params.versions -}}
  {{- if hasPrefix $currentPath .url -}}
    {{- $currentVersionID = .id -}}
    {{- $currentVersion = . -}}
  {{- end -}}
{{- end -}}

{{- if $currentVersionID -}}
  {{- $latestVersionID := .Site.Params.latest_version_id | default "v1.2" -}}
  {{- $isLatest := eq $currentVersionID $latestVersionID -}}
  {{- if not $isLatest }}
  {{- /* Use index in versions list (ordered newest-first) to compare */ -}}
  {{- $currentIdx := -1 -}}
  {{- $latestIdx := -1 -}}
  {{- range $i, $v := .Site.Params.versions -}}
    {{- if eq $v.id $currentVersionID }}{{ $currentIdx = $i }}{{ end -}}
    {{- if eq $v.id $latestVersionID }}{{ $latestIdx = $i }}{{ end -}}
  {{- end -}}
  {{- if and (ge $currentIdx 0) (ge $latestIdx 0) }}
  {{- if lt $currentIdx $latestIdx }}
  <div class="pageinfo pageinfo-warning">
    <p>
      You are viewing documentation for <strong>Cozystack {{ $currentVersion.version }}</strong>, which is currently in beta.
      {{ range $.Site.Params.versions }}
        {{- if eq .id $latestVersionID }}
          For the latest stable version, see the <a href="{{ .url }}">{{ .version }} documentation</a>.
        {{- end }}
      {{- end }}
    </p>
  </div>
  {{- else if gt $currentIdx $latestIdx }}
  <div class="pageinfo pageinfo-warning">
    <p>
      You are viewing documentation for <strong>Cozystack {{ $currentVersion.version }}</strong>.
      {{ range $.Site.Params.versions }}
        {{- if eq .id $latestVersionID }}
          For the latest version, see the <a href="{{ .url }}">{{ .version }} documentation</a>.
        {{- end }}
      {{- end }}
    </p>
  </div>
  {{- end }}
  {{- end }}
  {{- end }}
{{- end }}
